<h1>Home page</h1>

<!--  Just to test the login & user role -->
<br>
Hello <%=current_user.full_name %>
<br>
Your role :
<%=current_user.admin == true ? "Admin" : "User" %>
<br>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
